* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;


}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height:10vh;
    display: flex;
    padding: 1rem 2rem;

}

.title {
    width: 20%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

nav {
    width: 80%; display: flex; 
    align-items: center; 
    font-size: 1.1rem;
   }

li {
    
    list-style: none;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
}

.main {
    width: 100%;
    height: auto;
    margin: 0

}

.main_page {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)),url('./images/main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

.__content {
    height: 100%;
    color: white;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    text-align: center;
}

.__content h2 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.__content span {
    font-size: 1.5rem;
    font-weight: 200;
}

/* main  1*/


/* footer */
footer {
    background-color: black;
    color: white;
    padding: 1rem 0;
    
}

.__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    border-bottom: 1px solid white;
    padding: 0 8rem;
    padding-bottom: 1rem;
    font-weight: 200;
    line-height: 1.6;
}

.__upper i {
    font-size: 2.5rem;
    cursor: pointer;
}

.facebook:hover {
    transform: scale(1.1);
}

.insta:hover {
    transform: scale(1.1);
}

.linked:hover {
        transform: scale(1.1);
}
.__upper i:nth-child(2) {
    margin: 0 1rem;
}


.__downer {
    display: flex;
    justify-content: center;
    font-weight: 200;
    padding-top: 1rem
}



/* section1 */

.ide {
    margin: 1rem 8rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.ide h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: .4rem;
}

.ide p {
    font-size: 1.2rem;
    color: #2f477a;
}

.philo {
    margin: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    justify-items: center;
    font-weight: 200;
  
    
}

.philoContent strong {
  width: 100% ;
  font-size: 1.2rem;
}

.__back {
    height: 30vh;
    width: 25vw;
    margin-top: 1rem;
    border-radius: 5px;
}

.__phi1 {
    background:url('./images/philo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.__phi2 {
    background:url('./images/philo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.__phi3 {
    background:url('./images/philo3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* section */
.header_title {
    color: #2f477a;
    margin: 2rem 8rem;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}


.main_section {
    margin: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
   
    
}

.const  {
    box-shadow: 3px 3px 5px 2px grey;
    width: 20vw;
}

.__back1 {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/main1.jpg');
    height: 30vh;
    
}

.__back2 {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/main2.jpg');
    height: 30vh;
    
}

.__back3 {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/main4.jpg');
    height: 30vh;
    
}

.__back4 {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/main3.jpg');
    height: 30vh;
    
}

.__content {
    padding: 1rem 1rem;
}

.const h3,.const p{
    color: black
}


/* intro page */

.img_main {
    height: 35vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)),url('./images/introMain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img_main h2 {
    height: 100%;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    letter-spacing: .1rem;   
}

.intro_box {
    margin: 1rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.intro_content {
    line-height: 2;
    font-size: 1.1rem;
}

.__greet {
    color: darkgreen;
}

.giamdoc {
    background: url('./images/director.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 2rem 2rem;
    height: 80%;
}

.__last {
    display: flex;
    justify-content: flex-end;
   
}

/* iso */
.iso_container {
    margin: 1rem 8rem;
    height: auto;
}
.iso1 { 
    
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    justify-items: center;
    align-items: center;
    line-height: 3;
    margin-bottom: 2rem;    
    background: #eeeeee;
}

.iso_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.isoImg1 {
    height:50vh;   
  
   
}

.iso2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    line-height: 3;
    background: #eeeeee;
}

.isoImg2 {
    height: 50vh;
}

.iso_content {
    width: 100%;
    height: 100%;
    
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.organization {
    margin: 1rem 8rem;
    
    height: 100%;
    background: url('./images/organization.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* project */

.project_main {
    height: 35vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)),url('./images/projectMain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project_main h2 {
    height: 100%;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    letter-spacing: .1rem;   
}

.__projectGrid {
    margin: 1rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1.5rem;
}

.projectCard {
    box-shadow: 3px 3px 5px 2px grey;
}

.projectImg1 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

.projectImg2 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.projectImg3 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.projectImg4 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.projectImg5 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.projectImg6 {
    height: 20vh;
    background: url('./images/project16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   

.project_content h3{
    margin-bottom: 1rem;
}

.project_content p {
    line-height: 1.5;
}

.inner_content {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.project_content {
    padding: 1rem;  
}