.section_contact {
    width: auto;
    
    box-sizing: border-box;    
}

.section_contact h3 {
    color: #0039a6;
    margin: 2rem 10rem;
    box-sizing: border-box;
    text-transform: uppercase;
}

.contact_box {
    height: auto;
    display:flex;
    padding: 1.5rem 10rem;
}

.contact_content {
    width: 100%;
    line-height: 1.7;
   
}
.contact_map {
    width: 100%;
}

.contact_map iframe {
    width: 100%;
    height: 40vh;
}